body {
    background-color: rgb(245, 238, 228);
}

header {
    border-bottom: 1px solid rgb(227, 224, 224);
    padding: 0 0 20px 0;
}

.weather-box {
    background-color: white;
    max-width: 580px;
    margin: 40px auto;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
}

.search-form-input {
    background-color: rgb(245, 238, 228);
    border-radius: 4px;
    font-size: 15px;
    padding: 10px 20px;
    width: 80%;
    border: none;
}


.search-form-button {
    background-color: rgb(144, 75, 75);
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 15px;
    margin: 20px;
    margin-left: 3px;
    border: none;
}

main {
    padding: 30px 0;
}

.app-data {
    display: flex;
    justify-content: space-between;
}

.app-city {
    font-size: 40px;
    line-height: 48px;
}

.app-temp-container {
    display: flex;
}

.weather-icon {
    height: 70px;
    width: 70px;
    margin-top: 25px;
}

.app-temp {
    font-size:90px;
    font-weight: bold;
}

.app-details {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    opacity: 60%;
}

.app-unit {
    margin-top: 16px;
    font-size: 28px;
    margin-right: 25px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.forecast-date {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}

.forecast-icon {
    width: 70px;
    height: 70px;
}

.forecast-temperatures {
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.forecast-temperature {
    padding: 0 5px;
}

footer {
    border-top: 1px solid rgba(65, 50, 100, 0.08);
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    margin: 4px;
}